/** TABLAS Y FORMULARIOS PRODUCTOS **/
  #view_product {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 20px auto 100px auto;
  }

.card{
  margin-bottom: 20px;
}

  #formulario_productos{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center; 
  }
  
  #formulario_productos > input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
  }

  #formulario_productos > label{
    background-color: #AAA;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    font-family: Comic Sans MS;
  }

  #descript{
    align-self: center;
    width: 99%;
  }

  #caja_busqueda{
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  img{
    width: 170px;
  }
  
#imagenCesta{
  width: 80px;
}

#cesta{
    text-align: center;
}

.icono{
  width: 20px;
  margin: 10px
}

#botonConfirmacion{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 130px;
}
/** TABLAS Y FORMULARIOS USUARIO **/
  #datosUsuario{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    margin: 15px auto 220px auto;
  }

  #formulario{
    display: flex;
    flex-flow : column wrap;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
  }

#formulario >input{
  margin: auto auto;
  text-align: center;
  width: 200px;
}

#formulario label{
  margin-top: 15px;
}

#formulario > #pass{
  margin-bottom: 20px;
}
  
  #botonPerfil{
    text-align: center;
  }

#errorLogin {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#mensajeError{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #777;
  border: 1px solid black;
  animation-name: error;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes error{
  from {
    margin-left: -70%; 
    opacity: 0.0;
  }
  to{
    opacity: 1.0;
  }
}

/** FACTURA **/
.caja{
  text-align: center;
}
